body{

    background-color: black;
    color: white;
}
#datos-personales{
    background-color: rebeccapurple;
    border-radius: 80px;
    padding: 30px;
    width: 50%;
    transform: translate(80%);
    
}
.sobremi{
   
        background-color: rebeccapurple;
        color: white;
        padding: 20px;
        border-radius: 40px;
        margin: 20px auto;
        width: 70%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* le da un efecto más profesional */
     
      
             
}