body{

    background-color: black;
    color: white;
}
#Titulo{
    transform: translate(50%);
    font-size: 80px;

}
#perfil {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    
}

#perfil img {
    width: 800px; 
    height: auto;
    border-radius: 40px;
}

#datos-personales {
    background-color: rebeccapurple;
    border-radius: 40px;
    padding: 30px;
    width: 500px;
    font-size: 60px;
    color: white;
    
}
.sobremi{
       
    height: auto;
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
    border-radius: 40px;
    margin: 20px auto;
    width: 70%;
    font-size: 30px;         
}
div strong{

    text-decoration: underline;
}

div span{

    text-decoration: underline;


}
